.parallaxImage {
  background-image: url(../images/code.jpg);
  background-size: cover;
  background-position: center 80%;
  padding-right: 40%;
  padding-bottom: 20%;
}

.font_reg {
  font-family: adobe-garamond-pro,serif;
  font-weight: 400;
  font-style: normal;
}

.font_bold {
  font-family: adobe-garamond-pro,serif;
  font-weight: 700;
  font-style: normal;
}

.profilePic {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.job-summary{
  border-radius: 10px;
  padding: 5%;
}
.job-summary p {
  padding: 2%;
}
.floatingWindow{
  border-radius: 10px;
}
.job-title{
  border-radius: 25%;
  text-decoration: underline dotted white;
  color:#90EE90;
}
/* I used the stash mechanic to hide edits */

/* removed from mincss
ul:not(.browser-default){padding-left:0;list-style-type:disc}ul:not(.browser-default)>li{list-style-type:circle} 
*/