.parallaxImage {
  background-image: url(../images/code.jpg);
  background-size: cover;
  background-position: center 80%;
  padding-right: 40%;
  padding-bottom: 20%;
}

.font_reg {
  font-family: adobe-garamond-pro,serif;
  font-weight: 400;
  font-style: normal;
}

.font_bold {
  font-family: adobe-garamond-pro,serif;
  font-weight: 700;
  font-style: normal;
}

.profilePic {
  border-radius: 50%;
  width: 100%;
  height: auto;
}